<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Catalogo</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/catalog.css">
</head>
<body>
	<header>
		<figure id="logo">
			<img src="" alt="">
		</figure>
		<div class="">
			
		</div>
	</header>
	<section class="container">
		<article class="banner">
			<div class="preview">
				
			</div>
		</article>
		<article class="products">
			<div class="product">
				<img src="images/producto.jpg" alt="">
			</div>
			<div class="product">
				<img src="images/producto.jpg" alt="">
			</div>
			<div class="product">
				<img src="images/producto.jpg" alt="">
			</div>
			<div class="product">
				<img src="images/producto.jpg" alt="">
			</div>
			<div class="product">
				<img src="images/producto.jpg" alt="">
			</div>
			<div class="product">
				<img src="images/producto.jpg" alt="">
			</div>
			<div class="product">
				<img src="images/producto.jpg" alt="">
			</div>
			<div class="product">
				<img src="images/producto.jpg" alt="">
			</div>
			<div class="product">
				<img src="images/producto.jpg" alt="">
			</div>
			<div class="product">
				<img src="images/producto.jpg" alt="">
			</div>
		</article>
	</section>
	<footer>
		
	</footer>
</body>
</html>